<style media="screen">
label {
  display:block;
  margin-left:100px;
  margin-top:0px;
}
.row{
  margin-bottom: 3px;
}
#hid{
  color: black;
}
#hcol {
  color: #1CC8A7;
}
.dot {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  border-color: #000;
  border-style: solid;
  display: inline-block;
}
text[text-anchor~=middle]{
  font-weight: bold !important;
}
text[text-anchor~=end]{
  font-size: 10px !important;
}
</style>
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    {{> AdminSideBar }}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        {{> AdminNav}}

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <input type="hidden" id="devid" name="devid" value="{{username}}">
          <div class="row">
            <div class="col-sm-3 text-center">
              <button type="button" id="pwron" class="btn btn-success">MOTOR ON</button>
            </div>
            <div class="col-sm-3 text-center">
              <button type="button" id="pwroff" class="btn btn-danger">MOTOR OFF</button>
            </div>
            <div class="col-sm-3 text-center">
              <button type="button" id="motrev" class="btn btn-warning">MOTOR REV</button>
            </div>
            <div class="col-sm-3 text-center">
              <button type="button" id="downloadData" class="btn btn-primary">EXPORT DATA</button>
            </div>
          </div>
          <div id="metric">
            <h3><u>MOTOR READING</u></h3>
            <div class="row">
              <div class="col-sm-2">
                <div id="motor_volt_div">

                </div>
              </div>
              <div class="col-sm-2">
                <div id="motor_current_div">

                </div>
              </div>
              <div class="col-sm-2">
                <div id="motor_power_div">

                </div>
              </div>
              <div class="col-sm-2">
                <div id="motor_freq_div">

                </div>
              </div>
              <div class="col-sm-2">
                <div id="motor_rpm_div">

                </div>
              </div>
              <div class="col-sm-2">
                <h6 id="hid">FAULT </h6>
                <span id="dot" class="dot"> </span>
              </div>
            </div>
            <br>
            <h3><u>PANEL READING</u></h3>
            <div class="row">
              <div class="col-sm-4">
                <div id="panel_volt">

                </div>
              </div>
              <div class="col-sm-4">
                <div id="panel_current">

                </div>
              </div>
              <div class="col-sm-4">
                <div id="panel_power">

                </div>
              </div>
            </div>
            <br>
            <h3><u>TODAY READING</u></h3>
            <div class="row">
              <div class="col-sm-6">
                <div id="tdis">

                </div>
              </div>
              <div class="col-sm-6">
                <div id="tenergy">

                </div>
              </div>
            </div>
            <br>


            <h3><u>DEVICE DETAILS</u></h3>
            <div style="padding: 5px; border:2px solid black; border-radius: 15px;">
              <div class="row">
                <div class="col-sm-4 text-center">
                  <h6 id="hid">RMU SR NO: </h6> <h6 id="rmuno">N/A</h6>
                </div>
                <div class="col-sm-4 text-center">
                  <h6 id="hid">Modem SR NO: </h6> <h6 id="modemno">N/A</h6>
                </div>
                <div class="col-sm-4 text-center">
                  <h6 id="hid">Modem IP: </h6> <h6 id="modemip">N/A</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 text-center">
                  <h6 id="hid">Telephone NO: </h6> <h6 id="tele">N/A</h6>
                </div>
                <div class="col-sm-4 text-center">
                  <h6 id="hid">Reading Date: </h6> <h6 id="readdate">N/A</h6>
                </div>
                <div class="col-sm-4 text-center">
                  <h6 id="hid">RMU RTC: </h6> <h6 id="rtcdate">N/A</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 text-center">
                  <h6 id="hid">UP Time: </h6> <h6 id="up">N/A</h6>
                </div>
                <div class="col-sm-4 text-center">
                  <h6 id="hid">OFF Time: </h6> <h6 id="off">N/A</h6>
                </div>
                <div class="col-sm-4 text-center">
                  <h6 id="hid">STATUS: </h6> <h6 id="status">N/A</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 text-center">
                  <h6 id="hid">Latitude: </h6> <h6 id="lat">N/A</h6>
                </div>
                <div class="col-sm-4 text-center">
                  <h6 id="hid">Longitude: </h6> <h6 id="lon">N/A</h6>
                </div>
                <div class="col-sm-4 text-center">
                  <h6 id="hid">SIM IMEI: </h6> <h6 id="sim">N/A</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 text-center">
                </div>
                <div class="col-sm-3 text-center">
                  <h6 id="hid">Total Discharge: </h6> <h6 id="totdis">N/A</h6>
                </div>
                <div class="col-sm-3 text-center">
                  <h6 id="hid">Total Energy: </h6> <h6 id="totenergy">N/A</h6>
                </div>
                <div class="col-sm-3 text-center">
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {{> AdminFooter }}
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

</body>




<script src="/socket.io/socket.io.js"></script>
<!-- <script src="../vendor/jquery/jquery.min.js"></script> -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
const socket = io.connect('http://18.217.56.18:5000/');
// const socket = io.connect('http://localhost:5000/');
var deviceid = $('#devid').val();
$(document).ready(function(){
  $('#pwron').on('click', function(){
    socket.emit('pwron', 'MOTORON');
  });
  $('#pwroff').on('click', function(){
    socket.emit('pwroff', 'MOTOROFF');
  })
  $('#motrev').on('click', function(){
    socket.emit('motrev', 'MOTORREV');
  })
  $('#downloadData').on('click', function(){
    $.ajax({
      url: '/admin/downloadData',
      type: 'post',
      dataType: 'json',
      contentType: 'application/json',
      success: function (data) {
        console.log(data);
        if(data['data'].length>0){
          let csvContent = "data:text/csv;charset=utf-8,"
          + data['data'].map(e => e.join(",")).join("\n");
          var encodedUri = encodeURI(csvContent);
          var link = document.createElement("a");
          link.setAttribute("href", encodedUri);
          link.setAttribute("download", "my_data.csv");
          document.body.appendChild(link); // Required for FF
          link.click();
        }
        else{
          alert('No data to downlaod.')
        }
      }
    });
  })
});
google.charts.load('current', {'packages':['gauge']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
  var width1 = 180;
  var height1 = 180;
  var motor_chart = {
    volt: google.visualization.arrayToDataTable([['Label', 'Value'],['Volt', 0]]),
    current: google.visualization.arrayToDataTable([['Label', 'Value'],['Current', 0]]),
    power: google.visualization.arrayToDataTable([['Label', 'Value'],['Power', 0]]),
    freq: google.visualization.arrayToDataTable([['Label', 'Value'],['Freq', 0]]),
    rpm: google.visualization.arrayToDataTable([['Label', 'Value'],['RPM x 1000', 0]])
  }

  var motor_options = {
    volt: {width: width1, height: height1, min:0, max: 500, majorTicks: ['0', '100', '200', '300', '400', '500']},
    current: {width: width1, height: height1, min:0, max: 20, majorTicks: ['0', '5', '10', '15', '20']},
    power: {width: width1, height: height1, min:0, max: 20000, majorTicks: ['0', '5', '10', '15', '20']},
    freq: {width: width1, height: height1, min:0, max: 300, majorTicks: ['0', '100', '200', '300']},
    rpm: {width: width1, height: height1, min:0, max: 10000, majorTicks: ['0', '2', '4', '6', '8', '10']}
  }

  var motor_html_element = {
    volt: new google.visualization.Gauge(document.getElementById('motor_volt_div')),
    current: new google.visualization.Gauge(document.getElementById('motor_current_div')),
    power: new google.visualization.Gauge(document.getElementById('motor_power_div')),
    freq: new google.visualization.Gauge(document.getElementById('motor_freq_div')),
    rpm: new google.visualization.Gauge(document.getElementById('motor_rpm_div'))
  };

  motor_html_element.volt.draw(motor_chart.volt, motor_options.volt);
  motor_html_element.current.draw(motor_chart.current, motor_options.current);
  motor_html_element.power.draw(motor_chart.power, motor_options.power);
  motor_html_element.freq.draw(motor_chart.freq, motor_options.freq);
  motor_html_element.rpm.draw(motor_chart.rpm, motor_options.rpm);


  var misc_chart = {
    discharge: google.visualization.arrayToDataTable([['Label', 'Value'],['Discharge', 0]]),
    energy: google.visualization.arrayToDataTable([['Label', 'Value'],['Energy', 0]]),
    volt: google.visualization.arrayToDataTable([['Label', 'Value'],['Volt', 0]]),
    current: google.visualization.arrayToDataTable([['Label', 'Value'],['Current', 0]]),
    power: google.visualization.arrayToDataTable([['Label', 'Value'],['Power', 0]])
  }

  var misc_options = {
    discharge: {width: width1, height: height1, min:0, max: 1000, majorTicks: ['0', '200', '400', '600', '800', '1000']},
    energy: {width: width1, height: height1, min:0, max: 10, majorTicks: ['0', '2', '4', '6', '8', '10']},
    volt: {width: width1, height: height1, min:0, max: 1000, majorTicks: ['0', '200', '400', '600', '800', '1000']},
    current: {width: width1, height: height1, min:0, max: 20, majorTicks: ['0', '5', '10', '15', '20']},
    power: {width: width1, height: height1, min:0, max: 20000, majorTicks: ['0', '5', '10', '15', '20']}
  }

  var misc_html_element = {
    discharge: new google.visualization.Gauge(document.getElementById('tdis')),
    energy: new google.visualization.Gauge(document.getElementById('tenergy')),
    volt: new google.visualization.Gauge(document.getElementById('panel_volt')),
    current: new google.visualization.Gauge(document.getElementById('panel_current')),
    power: new google.visualization.Gauge(document.getElementById('panel_power'))
  };

  misc_html_element.volt.draw(misc_chart.volt, misc_options.volt);
  misc_html_element.current.draw(misc_chart.current, misc_options.current);
  misc_html_element.power.draw(misc_chart.power, misc_options.power);
  misc_html_element.discharge.draw(misc_chart.discharge, misc_options.discharge);
  misc_html_element.energy.draw(misc_chart.energy, misc_options.energy);

  socket.on('news', function (data) {
    console.log(data);
    document.getElementById('rmuno').innerText = data['rmuno'];
    document.getElementById('modemno').innerText = data['modemno'];
    document.getElementById('modemip').innerText = data['modemip'];
    document.getElementById('tele').innerText = data['tele'];
    document.getElementById('readdate').innerText = data['readdate'];
    document.getElementById('rtcdate').innerText = data['rtcdate'];
    motor_chart.volt.setValue(0, 1, data['mvol']);
    motor_chart.current.setValue(0, 1, data['mcur']);
    motor_chart.power.setValue(0, 1, data['mpow']);
    motor_chart.freq.setValue(0, 1, data['mfreq']);
    motor_chart.rpm.setValue(0, 1, data['mrpm']);
    misc_chart.volt.setValue(0, 1, data['pvol']);
    misc_chart.current.setValue(0, 1, data['pcurr']);
    misc_chart.power.setValue(0, 1, data['ppow']);
    misc_chart.discharge.setValue(0, 1, data['tdis']);
    misc_chart.energy.setValue(0, 1, data['tenergy']);

    motor_html_element.volt.draw(motor_chart.volt, motor_options.volt);
    motor_html_element.current.draw(motor_chart.current, motor_options.current);
    motor_html_element.power.draw(motor_chart.power, motor_options.power);
    motor_html_element.freq.draw(motor_chart.freq, motor_options.freq);
    motor_html_element.rpm.draw(motor_chart.rpm, motor_options.rpm);

    misc_html_element.volt.draw(misc_chart.volt, misc_options.volt);
    misc_html_element.current.draw(misc_chart.current, misc_options.current);
    misc_html_element.power.draw(misc_chart.power, misc_options.power);
    misc_html_element.discharge.draw(misc_chart.discharge, misc_options.discharge);
    misc_html_element.energy.draw(misc_chart.energy, misc_options.energy);

    document.getElementById('up').innerText = data['up'];
    document.getElementById('off').innerText = data['off'];
    document.getElementById('status').innerText = data['status'];
    document.getElementById('lat').innerText = data['lat'];
    document.getElementById('lon').innerText = data['lng'];
    document.getElementById('sim').innerText = data['imei'];
    document.getElementById('totdis').innerText = data['totdis'];
    document.getElementById('totenergy').innerText = data['totenergy'];
    if(data['fault'] == "0"){
      $('.dot').css("background-color", "green");
    }
    else{
      $('.dot').css("background-color", "red");
    }
  });
}
setTimeout(()=>{
  socket.emit('subscribe', {data: deviceid, type: 'socket'});
}, 1000)
</script>

<!-- Bootstrap core JavaScript-->


<!-- <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

<!-- Core plugin JavaScript-->
<!-- <script src="../vendor/jquery-easing/jquery.easing.min.js"></script> -->
