<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="row">
      <div class="col-sm-4">
        <h6 style="color: black;"><u>CONTACT:</u></h6>
        <i class="fas fa-envelope" style="color: black; font-size: 1.2em;"></i>
        <span style="font-size: 1.2em; color: black;">shiva@mymecindia.com</span>
      </div>
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4">
        <h5 style="color: black;">WEBSITE UNDER DEVELOPMENT</h5>
      </div>
    </div>
  </div>
</footer>
