<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-0">
      <img src="../img/sun2.png" style="width: 140px; background: white;">
    </div>
    <!-- <div class="sidebar-brand-text mx-3">RMS</div> -->
  </a>


  <!-- <hr class="sidebar-divider my-0">


  <li class="nav-item">
    <a class="nav-link" href="/admin/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>


  <hr class="sidebar-divider">


  <div class="sidebar-heading">
    User
  </div>

  <li class="nav-item">
    <a class="nav-link" href="/admin/addUser">
      <i class="fas fa-user-plus fa-cog"></i>
      <span>Add User</span>
    </a>
    <a class="nav-link" href="/admin/manageUser">
      <i class="fas fa-user-edit fa-cog"></i>
      <span>Manage User</span>
    </a>
  </li>


  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Device
  </div>


  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-plus fa-cog"></i>
      <span>Add Device</span>
    </a>
    <a class="nav-link" href="#">
      <i class="fas fa-edit fa-cog"></i>
      <span>Manage Device</span>
    </a>
  </li> -->

  <!-- Divider -->
  <!-- <hr class="sidebar-divider d-none d-md-block"> -->

  <!-- Sidebar Toggler (Sidebar) -->
  <!-- <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div> -->

</ul>
