<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="row">
      <div class="col-sm-4">
        <h4 style="color: black;"><u>CONTACT:</u></h4>
        <i class="fas fa-envelope" style="color: green; font-size: 1.2em;"></i>
        <span style="font-size: 1.2em; color: green;">pranav@accuelec.com</span>
        <br>
        <i class="fas fa-mobile" style="color: blue; font-size: 1.2em;"></i>
        <span style="font-size: 1.2em; color: blue;">+919810067280</span>
      </div>
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4">
        <h5 style="color: black;">WEBSITE UNDER DEVELOPMENT</h5>
      </div>
    </div>
  </div>
</footer>
