<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="row">
      <div class="col-sm-4">
        <div class="copyright ml-2">
          <img src="../img/logo2.png">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="copyright text-center my-auto" style="padding-top: 50px;">
          <span style="font-size: 1.2em; color: black;">SOLAR PUMP AND MONITORING SYSTEM</span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="copyright" style="padding-top: 50px; text-align: right !important;">
          <i class="fas fa-envelope" style="color: black; font-size: 1.2em;"></i>
          <span style="font-size: 1.2em; color: black;">shiva@mymecindia.com</span>
        </div>
      </div>
    </div>
  </div>
</footer>
