<style media="screen">
label {
    display:block;
    margin-left:140px;
    margin-top:0px;
}
</style>
<!-- <body class="bg-gradient-primary">

<div class="container">

<div class="row justify-content-center">

<div class="col-xl-10 col-lg-12 col-md-9">

<div class="card o-hidden border-0 shadow-lg my-5">
<div class="card-body p-0">
<div class="row">
<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
<div class="col-lg-6">
<div class="p-5">
<div class="text-center">
<h1 class="h4 text-gray-900 mb-4">{{loginType}} Login</h1>
</div>
<form class="user">
<div class="form-group">
<input type="email" class="form-control form-control-user" id="exampleInputEmail" name="username" aria-describedby="emailHelp" placeholder="Username">
</div>
<div class="form-group">
<input type="password" class="form-control form-control-user" id="exampleInputPassword" name="password" placeholder="Password">
</div>
<a href="index.html" class="btn btn-primary btn-user btn-block">
Login
</a>
<hr>
<a href="/admin/login" class="btn btn-google btn-user btn-block">
<i class="fas fa-user-shield fa-fw"></i> Admin Login
</a>
</form>
<hr>
<div class="text-center">
<a class="small" href="#">Forgot Password?</a>
</div>
can
</div>
</div>
</div>
</div>
</div>

</div>

</div>

</div> -->
<body>
    <div class="row">
        <div class="col-sm-2">
            <h3>RMU SR NO: </h3> <h4 id="rmuno"></h4>
        </div>
        <div class="col-sm-2">
            <h3>Modem SR NO: </h3> <h4 id="modemno"></h4>
        </div>
        <div class="col-sm-2">
            <h3>Modem IP: </h3> <h4 id="modemip"></h4>
        </div>
        <div class="col-sm-2">
            <h3>Telephone NO: </h3> <h4 id="tele"></h4>
        </div>
        <div class="col-sm-2">
            <h3>Reading Date: </h3> <h4 id="readdate"></h4>
        </div>
        <div class="col-sm-2">
            <h3>RMU RTC: </h3> <h4 id="rtcdate"></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <canvas id="foo"></canvas>
            <label>41%</label>
        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">

        </div>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://bernii.github.io/gauge.js/dist/gauge.min.js" charset="utf-8"></script>
<script>
var socket = io.connect('http://localhost:5000/');
socket.on('news', function (data) {
    document.getElementById('rmuno').innerText = data['rmuno'];
    document.getElementById('modemno').innerText = data['modemno'];
    document.getElementById('modemip').innerText = data['modemip'];
    document.getElementById('tele').innerText = data['tele'];
    document.getElementById('readdate').innerText = data['readdate'];
    document.getElementById('rtcdate').innerText = data['rtcdate'];
});

var opts = {
    angle: 0.15, // The span of the gauge arc
    lineWidth: 0.44, // The line thickness
    radiusScale: 1, // Relative radius
    pointer: {
        length: 0.6, // // Relative to gauge radius
        strokeWidth: 0.035, // The thickness
        color: '#000000' // Fill color
    },
    limitMax: false,     // If false, max value increases automatically if value > maxValue
    limitMin: false,     // If true, the min value of the gauge will be fixed
    colorStart: '#6FADCF',   // Colors
    colorStop: '#8FC0DA',    // just experiment with them
    strokeColor: '#E0E0E0',  // to see which ones work best for you
    generateGradient: true,
    highDpiSupport: true,     // High resolution support
    label: function(val) {return Math.round(val);}
};
var target = document.getElementById('foo'); // your canvas element
var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
gauge.maxValue = 4000; // set max gauge value
gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
gauge.animationSpeed = 32; // set animation speed (32 is default value)
gauge.set(10);
</script>


<!-- Bootstrap core JavaScript-->
<script src="../vendor/jquery/jquery.min.js"></script>

<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../js/sb-admin-2.min.js"></script>

<!-- </body> -->
